:root {
    /* ### Primary */

    --blue: hsl(246, 80%, 60%);
    --lightOrange: hsl(15, 100%, 70%);
    --softBlue: hsl(195, 74%, 62%);
    --lightRed: hsl(348, 100%, 68%);
    --limeGreen: hsl(145, 58%, 55%);
    --violet: hsl(264, 64%, 52%);
    --softYellow: hsl(43, 84%, 65%);

    /* ### Neutral */

    --veryDarkBlue: hsl(226, 43%, 10%);
    --darkBlue: hsl(235, 46%, 20%);
    --DesaturatedBlue: hsl(235, 45%, 61%);
    --paleBlue: hsl(236, 100%, 87%);
}

body {
    background-color: var(--veryDarkBlue);
    color: var(--paleBlue);
    display: grid;
    font-family: "Rubik", sans-serif;
    place-items: center;
    margin: 10% 25%;
    min-width: 875px;
}

h1 {
    color: white;
    font-weight: 300;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 1.5rem;
}

.user-card {
    background-color: var(--darkBlue);
    border-radius: 15px;
    display: grid;
}
.user-profile {
    background-color: var(--blue);
    border-radius: 15px;
    padding: 20px 20px 0;
}
.user-profile p {
    font-size: 11px;
    margin: 15% 0 3%;
}
.user-profile h1 {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 40px;
}
.user-image > img {
    border: 3px solid white;
    border-radius: 100%;
    height: 50px;
    width: 50px;
}
.timeframe {
    background-color: var(--darkBlue);
    border-radius: 0 0 10px 10px;
    display: grid;
    padding: 20px 30px 10px;
}
.timeframe > button {
    background-color: transparent;
    border: none;
    color: var(--DesaturatedBlue);
    font-family: "Rubik", sans-serif;
    padding: 0 0 15px;
    text-align: left;
}
.timeframe > button:hover {
    color: white;
    cursor: pointer;
}

.dashboard-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1.5rem;
    grid-row-gap: 1rem;
}

.dash-card {
    border-radius: 15px;
    display: grid;
    background-position: top -10px right 10px;
    background-repeat: no-repeat;
    background-size: 60px;
}
.work {
    background-color: var(--lightOrange);
    background-image: url(images/icon-work.svg);
}
.play {
    background-color: var(--softBlue);
    background-image: url(images/icon-play.svg);
}
.study {
    background-color: var(--lightRed);
    background-image: url(images/icon-study.svg);
}
.exercise {
    background-color: var(--limeGreen);
    background-image: url(images/icon-exercise.svg);
}
.social {
    background-color: var(--violet);
    background-image: url(images/icon-social.svg);
}
.self-care {
    background-color: var(--softYellow);
    background-image: url(images/icon-self-care.svg);
}

.dash-card-wrapper {
    background-color: var(--darkBlue);
    border-radius: 15px;
    padding-left: 20px;
    align-self: flex-end;
}
.dash-card-wrapper:hover {
    background-color: hsl(235, 46%, 30%);
    cursor: pointer;
}

.dash-card-title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.dash-card-title > p {
    color: white;
    font-size: 14px;
    margin-top: 20px;
}
.dash-card-title > button {
    background-color: transparent;
    border: none;
    position: relative;
    top: -4px;
    right: -10px;
}
.dash-card-title img {
    height: 4px;
    width: 12px;
}

.dash-card-body > h1 {
    font-size: 36px;
    margin: 0;
}
.dash-card-body > p {
    font-size: 11px;
    margin-bottom: 20px;
}

/* Media Queries */

@media (max-width: 875px) {
    .dashboard {
        grid-template-columns: 1fr;
        grid-column-gap: 1.5rem;
    }

    .user-profile {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 0.5rem;
        align-items: center;
        padding: 10px 20px 5px;
    }
    .user-profile p {
        font-size: 14px;
    }
    .user-profile h1 {
        font-size: 24px;
    }
    .user-image > img {
        height: 70px;
        width: 70px;
        position: relative;
        top: -5px;
    }

    .timeframe {
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-evenly;
        padding: 25px 0;
    }
    .timeframe > button {
        font-size: 18px;
        padding: 0 0;
        text-align: center;
    }

    .dashboard-cards {
        grid-template-columns: 1fr;
        grid-template-rows: 150px 150px;
        grid-auto-rows: 150px;
        grid-row-gap: 1rem;
        margin-top: 1rem;
    }

    .dash-card {
        background-size: 80px;
    }
    .dash-card-wrapper {
        padding: 10px 20px 20px;
    }

    .dash-card-title > p {
        font-size: 18px;
        margin-bottom: 0;
    }
    .dash-card-title > button {
        top: 10px;
        right: -40px;
    }
    .dash-card-title img {
        height: 4px;
        width: 20px;
    }

    .dash-card-body {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .dash-card-body > h1 {
        font-size: 32px;
        margin-top: 0.5rem;
    }
    .dash-card-body > p {
        font-size: 14px;
        position: relative;
        top: 10px;
        right: -10px;
    }
}
